body{
    background-color:#000;
    color:#fff;
    font-family:'open sans';
    box-sizing: border-box;
    font-size:1.4em;
}

/*le header*/

nav{
    display:none; /*permet de faire dispraitre un element qu'on ne veut pas voir*/
    /*on pourra poser après des medias query*/
}


header img:first-of-type{
 width:320px;
   position:relative;

}

header div h2{
    font-size:0.9em;
    -webkit-text-stroke: 0.5px #9b1616;
    margin:0;
    position:absolute;
    top:10%;
    right:35%
}


header i{
    position:absolute;
    right:90%;
    padding:20px 0px 10px 0px;
}

/*la section*/
h1{
    font-size:0.9em;
    text-align:center;
    -webkit-text-stroke: 0.5px #fa0c0c;
    padding:10px;
}

h5{

  color:#fff;
  -webkit-text-stroke: 0.5px #e22020;
}



.sectionAcceuill img{
    width:250px;
    margin-left:12%;
   
}




.sectionAcceuill h5 {
    font-size:1.1;
    margin-left:32%;
    position:relative;
    bottom:200px;
}

img{
     width:300px;
     margin:0 auto;
}

/*le tableau*/

 tr,th,td{
    border:#fff 1px solid;
    
}

table{
    border-collapse:collapse;
    background-color:#412222;
    color:#e2dfdf;
    width:250px;
    margin-left:20px;
    

}

/*les bouton de navigation*/
.navigation{
    padding:20px;
    font-size:0.8em;
    display:flex;
    justify-content: space-between;

}

.navigation a {
    text-decoration:none;
    color:#000;
    border:2px solid black;
    padding:5px;
    background-color:#fff;
    border-radius: 6px;
}



/*le footer*/
footer{
    width:90%;
    display:flex;
    
    font-size:0.2em;
    background-color:#450707;
    padding:25px;
    justify-content: center;
}
footer ul {
 list-style-type:none;
 
}

@media screen and (min-width:768px){
    
   .navigation a{
    padding:20px;
    font-size:1.2em;
   }
    header i{
        display:none !important;
    }
    header  img:first-of-type {
        width:100%;
        height:550px;
        object-fit:cover;
        object-position:center;
        

    }
    
    nav{
       display:block;
       background-color:#450707 ;
       margin:0;
       padding:3px;
    }

    nav ul{
        list-style-type: none;
        display:flex;
        justify-content:space-around;
    }
    
        nav a{
        text-decoration:none;
        color:white;
    }

    .sectionAcceuill {
        display:flex;
        gap:25px;
       margin-right:100px;
        position:relative;
        justify-content: center;
        
    }

    .sectionAcceuill img{
      width:450px;
      height:600px;
      
    }
     
    

    h1{
        position:absolute;
        right:27%;
        top:50px;
        font-size:1.5em;
        
    }

    .sectionAcceuill h5 {
    font-size:1.4em;
    margin-left:45%;
    position:relative;
    bottom:350px;
    }
    table{
        width:400px;
    }
    
    .table p{
        font-size:0.5em;
    }

    header div h2{
    font-size:1.8em;
    -webkit-text-stroke: 0.8px #9b1616;
   
    position:absolute;
    top:20%;
    right:40%;
}

footer{
    width:100%;
    padding:50px;
    font-size:1.2em;
}
.sectionAcceuill img{
  transition:transform 0.3s ease;
}

.sectionAcceuill img:hover{
 transform: scale(0.9);
 
}

}
